.spectate {
  .header {
    & dl {
      display: inline-grid;
      gap: var(--space-sm);
      grid-auto-flow: row;
      grid-auto-rows: auto;
      grid-template-columns: auto auto;
      width: max-content;
    }
  }

  &,
  .header,
  .content,
  .level,
  .stats {
    display: flex;
  }

  .header,
  .level,
  .stats {
    gap: var(--space);
  }

  &,
  .header,
  .content {
    flex-direction: column;
  }

  .buds {
    background-color: var(--white);
    box-shadow: var(--pixel-border);
    padding: var(--space);
    margin: var(--space);

    & ul {
      display: grid;
      gap: var(--space) var(--space-lg);
      grid-auto-flow: row;
      grid-auto-rows: auto;
      grid-template-columns: 1fr 1fr;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .content {
    flex: 1;
    gap: var(--space-lg);
    padding: var(--space-lg);
  }

  .stats {
    align-items: center;
    justify-content: space-between;
  }
}
