.button {
  aspect-ratio: 1 / 1;
  background-color: transparent;
  margin: 0 0.5em 0.5em 0;
  padding: 0;
  min-width: 2em;

  &::before {
    content: none;
  }

  &:focus {
    box-shadow: var(--alt-pixel-border);
    outline: 0;
  }

  .note {
    font-size: 2em;
    line-height: 1;
  }
}
