:root {
  --base-event-size: var(--small-font);
}

.events {
  align-items: flex-end;
  background-color: var(--white);
  border-color: var(--black);
  border-style: solid;
  border-width: 0 0 var(--space);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  gap: var(--space);
  height: 100%;
  overflow: auto;
  padding: var(--space);
  position: relative;
  z-index: 0;

  .hide {
    visibility: hidden;
  }

  .show {
    visibility: visible;
  }

  & p,
  & ul {
    margin: 0;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    list-style: none;
    padding: 0;

    & span {
      display: inline-block;

      &::before {
        opacity: 0.5;
      }
    }
  }

  .content {
    font-size: var(--base-event-size);
  }
}
