.display {
  align-items: start;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  padding: var(--space);
  width: 100%;

  & canvas {
    margin-top: var(--space);
    margin-bottom: var(--unspace);
    padding: var(--space-lg);
  }

  > * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
