.battle {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    padding: var(--space-lg);
  }

  & legend {
    margin-block-end: var(--space);
  }

  & fieldset,
  & form,
  & form > nav,
  .content {
    display: flex;
    flex-direction: column;
  }

  & fieldset,
  & form,
  & form > nav {
    gap: var(--space);
  }

  & form {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  & fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    &[disabled] {
      opacity: 0.5;
    }

    & .buds {
      background-color: var(--white);
      box-shadow: var(--pixel-border);
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: auto;
      grid-template-columns: 1fr 1fr;
      margin: var(--space);
      gap: var(--space);

      & .me {
        box-shadow: 0 0 0 var(--space) var(--black);
      }
    }
  }
}
