.gameOver {
  gap: var(--space-lg);
  grid-template-rows: auto 1fr;
  padding: var(--space) 0;
  text-align: center;

  &,
  .content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }

  .content {
    align-items: center;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    padding: var(--space) var(--space-lg);

    & footer {
      display: flex;
      flex-direction: column;
      gap: var(--space-lg);
    }

    & strong {
      font-size: 1.25em;
    }

    .buds {
      display: flex;
      flex-direction: column;
      gap: var(--space-lg);

      & canvas {
        margin: 0 auto;
        max-height: 15dvh;
        max-width: 100%;
      }
    }
  }
}
