.heading {
  align-items: center;
  display: flex;
  gap: var(--space);
  padding: 0 var(--space);

  & h1 {
    flex: 1;
  }

  & img {
    min-width: 8em;
    max-width: 16em;
    width: 100%;
  }
}
