.players {
  align-items: center;
  gap: var(--space);
  justify-content: center;
  list-style: none;
  padding: 0;

  &,
  & li {
    display: flex;
  }

  & li {
    border-color: var(--black);
    border-style: solid;
    border-width: 0;

    &,
    & button {
      flex: 1;
      max-width: 50dvw;
    }

    & canvas {
      height: calc(var(--space-lg) * 1.5);
      width: auto;
    }
  }
}
