.button {
  aspect-ratio: 1 / 1;
  background-color: transparent;
  margin: 0 var(--space-sm) var(--space-sm) 0;
  padding: var(--space-sm) 0 0 var(--space-sm);
  min-width: 2em;

  &::before {
    content: none;
  }

  &:focus {
    box-shadow: var(--alt-pixel-border);
    outline: 0;
  }

  .icon {
    font-size: 1.5em;
    line-height: 1;
  }
}

.highlight {
  color: var(--water);
  font-style: normal;
}
