.train {
  display: flex;
  flex-direction: column;

  & dd,
  & dl,
  & ul {
    margin: 0;
    padding: 0;
  }

  & footer {
    display: flex;
    flex-direction: column;
    gap: var(--space);

    .description {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      font-size: var(--small-font);
      margin: 0;
      overflow: hidden;
    }
  }

  .content {
    display: grid;
    gap: var(--space);
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    height: 100%;
    padding: var(--space-lg);
  }

  .actions {
    display: grid;
    gap: var(--space);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .choices {
    display: flex;
    gap: var(--space);
    flex-direction: column-reverse;
  }

  .heading {
    align-items: center;
    display: flex;
    gap: var(--space-lg);
    justify-content: space-between;

    .attributes {
      gap: var(--space-lg);

      &,
      & dl {
        align-items: center;
        display: flex;
      }

      & dl {
        gap: var(--space-sm);
      }
    }
  }

  .name {
    font-size: 1.25em;
  }

  .window {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & > * {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    .timer {
      align-self: start;
    }
  }
}
