.window {
  align-items: end;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;

  > * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.train {
  > header > div {
    display: flex;
    gap: 1rem;
  }

  & dd,
  & dl,
  & ul {
    margin: 0;
    padding: 0;
  }

  & ul {
    display: flex;
    list-style: none;
  }

  & nav li,
  & nav li > button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.content {
  height: 100%;
  overflow: auto;
}

.events {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.description {
  font-size: 0.65em;
}

dl.stats {
  display: flex;
  gap: 1rem;
}

/* backgrounds */

.dark {
  background-color: var(--dark);
}

.dark-fire {
  background-image: linear-gradient(
    to bottom,
    var(--dark) 0%,
    var(--dark) 20%,
    var(--dark-fire-1) 20%,
    var(--dark-fire-1) 40%,
    var(--dark-fire-2) 40%,
    var(--dark-fire-2) 60%,
    var(--dark-fire-3) 60%,
    var(--dark-fire-3) 80%,
    var(--fire) 80%,
    var(--fire) 100%
  );
}

.dark-earth {
  background-image: linear-gradient(
    to bottom,
    var(--dark) 0%,
    var(--dark) 20%,
    var(--dark-earth-1) 20%,
    var(--dark-earth-1) 40%,
    var(--dark-earth-2) 40%,
    var(--dark-earth-2) 60%,
    var(--dark-earth-3) 60%,
    var(--dark-earth-3) 80%,
    var(--earth) 80%,
    var(--earth) 100%
  );
}

.dark-light {
  background-image: linear-gradient(
    to bottom,
    var(--dark) 0%,
    var(--dark) 20%,
    var(--dark-light-1) 20%,
    var(--dark-light-1) 40%,
    var(--dark-light-2) 40%,
    var(--dark-light-2) 60%,
    var(--dark-light-3) 60%,
    var(--dark-light-3) 80%,
    var(--light) 80%,
    var(--light) 100%
  );
}

.dark-water {
  background-image: linear-gradient(
    to bottom,
    var(--dark) 0%,
    var(--dark) 20%,
    var(--dark-water-1) 20%,
    var(--dark-water-1) 40%,
    var(--dark-water-2) 40%,
    var(--dark-water-2) 60%,
    var(--dark-water-3) 60%,
    var(--dark-water-3) 80%,
    var(--water) 80%,
    var(--water) 100%
  );
}

.dark-wind {
  background-image: linear-gradient(
    to bottom,
    var(--dark) 0%,
    var(--dark) 20%,
    var(--dark-wind-1) 20%,
    var(--dark-wind-1) 40%,
    var(--dark-wind-2) 40%,
    var(--dark-wind-2) 60%,
    var(--dark-wind-3) 60%,
    var(--dark-wind-3) 80%,
    var(--wind) 80%,
    var(--wind) 100%
  );
}

.fire {
  background-color: var(--fire);
}

.earth-fire {
  background-image: linear-gradient(
    to bottom,
    var(--earth) 0%,
    var(--earth) 20%,
    var(--earth-fire-1) 20%,
    var(--earth-fire-1) 40%,
    var(--earth-fire-2) 40%,
    var(--earth-fire-2) 60%,
    var(--earth-fire-3) 60%,
    var(--earth-fire-3) 80%,
    var(--fire) 80%,
    var(--fire) 100%
  );
}

.fire-light {
  background-image: linear-gradient(
    to bottom,
    var(--fire) 0%,
    var(--fire) 20%,
    var(--fire-light-1) 20%,
    var(--fire-light-1) 40%,
    var(--fire-light-2) 40%,
    var(--fire-light-2) 60%,
    var(--fire-light-3) 60%,
    var(--fire-light-3) 80%,
    var(--light) 80%,
    var(--light) 100%
  );
}

.fire-water {
  background-image: linear-gradient(
    to bottom,
    var(--fire) 0%,
    var(--fire) 20%,
    var(--fire-water-1) 20%,
    var(--fire-water-1) 40%,
    var(--fire-water-2) 40%,
    var(--fire-water-2) 60%,
    var(--fire-water-3) 60%,
    var(--fire-water-3) 80%,
    var(--water) 80%,
    var(--water) 100%
  );
}

.fire-wind {
  background-image: linear-gradient(
    to bottom,
    var(--fire) 0%,
    var(--fire) 20%,
    var(--fire-wind-1) 20%,
    var(--fire-wind-1) 40%,
    var(--fire-wind-2) 40%,
    var(--fire-wind-2) 60%,
    var(--fire-wind-3) 60%,
    var(--fire-wind-3) 80%,
    var(--wind) 80%,
    var(--wind) 100%
  );
}

.earth {
  background-color: var(--earth);
}

.earth-light {
  background-image: linear-gradient(
    to bottom,
    var(--earth) 0%,
    var(--earth) 20%,
    var(--earth-light-1) 20%,
    var(--earth-light-1) 40%,
    var(--earth-light-2) 40%,
    var(--earth-light-2) 60%,
    var(--earth-light-3) 60%,
    var(--earth-light-3) 80%,
    var(--light) 80%,
    var(--light) 100%
  );
}

.earth-water {
  background-image: linear-gradient(
    to bottom,
    var(--earth) 0%,
    var(--earth) 20%,
    var(--earth-water-1) 20%,
    var(--earth-water-1) 40%,
    var(--earth-water-2) 40%,
    var(--earth-water-2) 60%,
    var(--earth-water-3) 60%,
    var(--earth-water-3) 80%,
    var(--water) 80%,
    var(--water) 100%
  );
}

.earth-wind {
  background-image: linear-gradient(
    to bottom,
    var(--earth) 0%,
    var(--earth) 20%,
    var(--earth-wind-1) 20%,
    var(--earth-wind-1) 40%,
    var(--earth-wind-2) 40%,
    var(--earth-wind-2) 60%,
    var(--earth-wind-3) 60%,
    var(--earth-wind-3) 80%,
    var(--wind) 80%,
    var(--wind) 100%
  );
}

.light {
  background-color: var(--light);
}

.light-water {
  background-image: linear-gradient(
    to bottom,
    var(--light) 0%,
    var(--light) 20%,
    var(--light-water-1) 20%,
    var(--light-water-1) 40%,
    var(--light-water-2) 40%,
    var(--light-water-2) 60%,
    var(--light-water-3) 60%,
    var(--light-water-3) 80%,
    var(--water) 80%,
    var(--water) 100%
  );
}

.light-wind {
  background-image: linear-gradient(
    to bottom,
    var(--light) 0%,
    var(--light) 20%,
    var(--light-wind-1) 20%,
    var(--light-wind-1) 40%,
    var(--light-wind-2) 40%,
    var(--light-wind-2) 60%,
    var(--light-wind-3) 60%,
    var(--light-wind-3) 80%,
    var(--wind) 80%,
    var(--wind) 100%
  );
}

.water {
  background-color: var(--water);
}

.water-wind {
  background-image: linear-gradient(
    to bottom,
    var(--water) 0%,
    var(--water) 20%,
    var(--water-wind-1) 20%,
    var(--water-wind-1) 40%,
    var(--water-wind-2) 40%,
    var(--water-wind-2) 60%,
    var(--water-wind-3) 60%,
    var(--water-wind-3) 80%,
    var(--wind) 80%,
    var(--wind) 100%
  );
}

.wind {
  background-color: var(--wind);
}
