.train {
  display: flex;
  flex-direction: column;
  position: relative;

  .content {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: 100%;
    padding: 1em;
  }

  & dd,
  & dl,
  & ul {
    margin: 0;
    padding: 0;
  }

  & footer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .description {
      font-size: 0.75em;
      margin: 0;
    }
  }

  .actions {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .choices {
    display: flex;
    gap: 0.5em;
    flex-direction: column-reverse;
  }

  .heading {
    align-items: center;
    display: flex;
    gap: 1em;
    justify-content: space-between;

    .attributes {
      gap: 1em;

      &,
      & dl {
        align-items: center;
        display: flex;
      }

      & dl {
        gap: 0.5em;
      }
    }
  }

  .window {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & > * {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    .timer {
      align-self: start;
    }
  }
}
