* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: bold;
}

abbr {
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}
